.footer {
  display: flex;
  justify-content: space-around;
  gap: 516px;
  .logo {
    max-width: 275px;
    p {
      font-family: Poppins;
      font-weight: 500;
      font-size: 17.29px;
      color: #5e6282;
      padding-top: 60px;
    }
  }
  .nav {
    max-width: 630px;
    display: flex;
    gap: 100px;

    .block {
      h3 {
        font-family: Poppins;
        font-weight: 700;
        font-size: 27.93px;
        color: #080809;
        padding-bottom: 40px;
      }
      h4 {
        font-family: Poppins;
        font-weight: 500;
        font-size: 23.94px;
        color: #5e6282;
        padding-bottom: 15px;
      }
    }
  }
}
