.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  h2 {
    font-size: 30px;
    font-family: Volkhov;
    font-weight: 700;
    color: #000000;
    cursor: pointer;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    p {
      font-family: Google Sans;
      font-weight: 400;
      font-size: 22px;
      color: #212832;
      cursor: pointer;
    }
    .sign {
      width: 135px;
      height: 53px;
      border-radius: 7px;
      font-family: Google Sans;
      font-size: 22px;
      color: #212832;
      background-color: #fff;
      cursor: pointer;
    }
    .sign:hover {
      background-color: #212832;
      color: #fff;
      box-shadow: 0 4px 12px rgba(33, 40, 50, 0.3);
      transform: translateY(-2px);
      transition: all 0.3s ease;
    }
    h6 {
      font-family: Google Sans;
      font-weight: 500;
      font-size: 22px;
      cursor: pointer;
      img {
        padding-left: 9px;
      }
    }
  }
}
