.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 355px;
  padding: 55px;
  &:hover {
    box-shadow: 0px 2.46px 4.19px 0px #00000001, 0px 10.84px 8.67px 0px #00000002, 0px 26.6px 17.29px 0px #00000003,
      0px 51.23px 33.89px 0px #00000003, 0px 86.21px 62.32px 0px #00000004, 0px 133.01px 106.41px 0px #00000005;
    border-radius: 47px;
    transition: box-shadow 0.3s ease, border-radius 0.3s ease;
    transform: translateY(-2px);
  }
  h4 {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 26.6px;
    text-align: center;
    color: #1e1d4c;
  }
  p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 21.28px;
    line-height: 34.58px;
    text-align: center;
    color: #5e6282;
  }
}
